<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>헤더 테스트</title>
</head>
<body>

    헤더 테스트입니다.
</body>
<script>
    var HeaderTestAPI = "http://localhost:8080/setHeaderTest"

    fetch(HeaderTestAPI,{
        method : "GET"
    })
    .then((res)=>{
        // Display the key/value pairs
        for (var pair of res.headers.entries()) {
            console.log(pair[0]+ ': '+ pair[1]);
        }
        console.log(res.status);
        console.log("헤더 정보 :"+res.headers.prototype);
        console.log("헤더 정보 :"+res.headers.get("addHeaderName"))
        });

</script>
</html>